@use "~shared/styles/variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}
